/* Font 'RaleWay' used sitewide.
   Used under SIL Open Font License. */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Raleway&display=swap');

body {
  background-color: #1E1E1E;
  font-family: "Raleway", sans-serif;
  color: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.code {
  font-family: "AnonymousPro", monospace;
}

a,
a:visited {
  color: #1E8CBF;
  text-decoration: none;
  transition: color .25s ease;
}

a:hover {
  color: #56AFD8;
  text-decoration: underline;
}

a:active {
  color: #CC5188;
}

a.current {
  font-weight: bold;
  cursor: default;
}

h1, p {
  margin: 0.66rem;
}

nav {
  position: sticky;
  background-color: #161616;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0;
}

nav > ul li {
  display: block;
  padding: 6px 8px 8px 6px;
  transition: background-color ease-in-out 133ms;
  flex-grow: 1;
  text-align: center;
}

nav > ul li.current {
  background-color: #222222;
}

nav > ul li:hover {
  background-color: #3d3d3d;
}
