#warning,
#error {
  color: red;
}

.hidden {
  display: none !important;
}

ul {
  padding-left: 0;
}

section#table-area {
  width: 75%;
  margin: 3rem;
}

section.input {
  width: auto;
  margin: 1.5rem;
}

li {
  list-style-type: none;
}

body, main {
  display: flex;
}

body {
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #3e3e3e;
  color: #FFFFFF;
}

main {
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

footer {
  text-align: center;
  padding: 2rem;
}

tr, th, td {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px dashed white;
}

table {
  border: 1px dashed gray;
}
